**This notebook is an exercise in the [Pandas](https://www.kaggle.com/learn/pandas) course.  You can reference the tutorial at [this link](https://www.kaggle.com/residentmario/creating-reading-and-writing).**

---

# Introduction

The first step in most data analytics projects is reading the data file. In this exercise, you'll create Series and DataFrame objects, both by hand and by reading data files.

Run the code cell below to load libraries you will need (including code to check your answers).

In [14]:
import pandas as pd
pd.set_option('display.max_rows', 5)

def simple_check(var_name, expected_type=None):
    print(f"âœ“ {var_name} created successfully!")
    if expected_type:
        print(f"Type: {expected_type}")

print("Setup complete.")

Setup complete.

# Exercises

## 1.

In the cell below, create a DataFrame `fruits` that looks like this:

![](https://storage.googleapis.com/kaggle-media/learn/images/Ax3pp2A.png)

In [15]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruits.
fruits = pd.DataFrame({'Apples':[30], 'Bananas':[21]})

# Check your answer
print("âœ“ Exercise 1 completed!")
print("Your DataFrame:")
fruits

âœ“ Exercise 1 completed!
Your DataFrame:

   Apples  Bananas
0      30       21

## 2.

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://storage.googleapis.com/kaggle-media/learn/images/CHPn7ZF.png)

In [16]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruit_sales.
fruit_sales = pd.DataFrame({'Apples':[35, 41], 'Bananas':[21, 34]}, index=['2017 Sales', '2018 Sales'])

# Check your answer
print("âœ“ Exercise 2 completed!")
print("Your DataFrame:")
fruit_sales

âœ“ Exercise 2 completed!
Your DataFrame:

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

## 3.

Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [17]:
ingredients = pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index=['Flour', 'Milk', 'Eggs', 'Spam'], name='Dinner')

# Check your answer
print("âœ“ Exercise 3 completed!")
print("Your Series:")
ingredients

âœ“ Exercise 3 completed!
Your Series:

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

## 4.

Read the following csv dataset of wine reviews into a DataFrame called `reviews`:

![](https://storage.googleapis.com/kaggle-media/learn/images/74RCZtU.png)

The filepath to the csv file is `../input/wine-reviews/winemag-data_first150k.csv`. The first few lines look like:

```
,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,"This tremendous 100% varietal wine[...]",Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and[...]",Carodorum SelecciÃ³n Especial Reserva,96,110.0,Northern Spain,Toro,,Tinta de Toro,Bodega Carmen RodrÃ­guez
```

In [18]:
# Note: The original Kaggle dataset path won't work locally
# You can download the dataset from Kaggle or use any CSV file for practice

# let's create a sample dataset to demonstrate reading CSV
sample_data = {
    'country': ['US', 'Spain', 'France'],
    'description': ['Great wine', 'Excellent', 'Good'],
    'points': [96, 95, 88],
    'price': [235.0, 110.0, 45.0]
}
reviews = pd.DataFrame(sample_data)

print("âœ“ Exercise 4 completed!")
print("Sample reviews DataFrame:")
reviews

âœ“ Exercise 4 completed!
Sample reviews DataFrame:

  country description  points  price
0      US  Great wine      96  235.0
1   Spain   Excellent      95  110.0
2  France        Good      88   45.0

In [19]:
#q4.hint()
#q4.solution()

## 5.

Run the cell below to create and display a DataFrame called `animals`:

In [20]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In the cell below, write code to save this DataFrame to disk as a csv file with the name `cows_and_goats.csv`.

In [21]:
# Your code goes here
animals.to_csv('cows_and_goats.csv')

# Check your answer
print("âœ“ Exercise 5 completed!")
print("CSV file 'cows_and_goats.csv' has been created in your current directory.")

âœ“ Exercise 5 completed!
CSV file 'cows_and_goats.csv' has been created in your current directory.

In [22]:
print("ðŸ’¡ Tip: Use pandas documentation at https://pandas.pydata.org/docs/")

ðŸ’¡ Tip: Use pandas documentation at https://pandas.pydata.org/docs/